<mt:SetVarBlock name="js_include" append="1">
<__trans_section component="OpenAI">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="<mt:Var name="plugin_open_ai_static_path" />/dist/edit_entry.min.js?v=<mt:Var name="plugin_open_ai_version" />" defer></script>
  <link rel="stylesheet" href="<mt:Var name="plugin_open_ai_static_path" />/dist/edit_entry.min.css?v=?v=<mt:Var name="plugin_open_ai_version" />" />
  <meta id="plugin-open-ai-data-label-field-name" content="<mt:Var name="plugin_open_ai_data_label_field_name" />" />
  <template id="plugin-open-ai-open-hint">
    <a href="#"><i class="fa-solid fa-lightbulb"></i></a>
  </template>

  <template id="plugin-open-ai-hint-modal">
    <div class="plugin-open-ai-hint-modal">
    <div class="modal-header">
       <h4 class="modal-title"><__trans phrase="Ask Title Suggestions" /></h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
        <__trans phrase="You can ask title suggestions from the following content. It will take about 30 seconds at most to reply. The content must be within [_1] characters. If some error occurs, please try again later" params="1000"/>
        <textarea class="form-control text full high" maxlength="1000"></textarea>
        <label><__trans phrase="Title Flavor" /></label>
        <select class="form-control" name="flavor">
            <option value="attractive"><__trans phrase="Attention-grabbing Title" /></option>
            <option value="socratic"><__trans phrase="Inquiring Title" /></option>
            <option value="model"><__trans phrase="Model Title" /></option>
            <option value="scientific"><__trans phrase="Descriptive Title" /></option>
            <option value="dreamy"><__trans phrase="Dreamy Title" /></option>
        </select>
        <div id="plugin-open-ai-result" style="margin-top: 10px; display: none; visibility: hidden;">
          <__trans phrase="The following five title candidates were generated" />
          <div style="margin-top: 10px;" class="list-group">
            <label class="list-group-item border-0"></label>
            <label class="list-group-item border-0"></label>
            <label class="list-group-item border-0"></label>
            <label class="list-group-item border-0"></label>
            <label class="list-group-item border-0"></label>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="actions-bar actions-bar-bottom plugin-open-ai-before-generate">
          <button type="submit" accesskey="s" title="<__trans phrase="Ask Title Suggestions (s)" />" class="action primary button btn btn-primary" id="generate-title">
            <__trans phrase="Ask Title Suggestions" />
          </button>
          <button type="submit" accesskey="x" class="cancel action button mt-close-dialog btn btn-default" data-mt-modal-close="" title="<__trans phrase="Cancel (x)" />">
            <__trans phrase="Cancel" />
          </button>
        </div>
        <div class="actions-bar actions-bar-bottom plugin-open-ai-after-generate" style="display: none">
          <button type="submit" accesskey="s" title="<__trans phrase="Apply Suggested Title (s)" />" class="action primary button btn btn-primary" disabled id="apply-suggested-title">
            <__trans phrase="Apply Suggested Title" />
          </button>
          <button type="submit" class="action button btn btn-default" data-mt-modal-close="" title="<__trans phrase="Ask Title Suggestions Again" />" id="generate-title-again">
            <__trans phrase="Ask Title Suggestions Again" />
          </button>
          <button type="submit" accesskey="x" class="cancel action button mt-close-dialog btn btn-default" data-mt-modal-close="" title="<__trans phrase="Close (x)" />">
            <__trans phrase="Close" />
          </button>
        </div>
    </div>
    </div>
  </template>
</__trans_section>
</mt:SetVarBlock>
