<mtapp:setting
  id="open_ai_api_key"
  label="<__trans phrase="API Key">"
>
<input type="text" id="open_ai_api_key" name="open_ai_api_key" value="<mt:Var name="open_ai_api_key" encode_html="1"/>" class="form-control" />
</mtapp:setting>
