<script type="module" src="<mt:Var name="static_uri">plugins/AIAssistant/dist/system_config.min.js"></script>

<mtapp:setting
  id="ai_assistant_api_key"
  label="<__trans phrase="API Key">"
>
<mt:If name="ai_assistant_api_key">
<div class="form-static">
  <mt:Var name="masked_ai_assistant_api_key" />
  <button type="button" class="btn btn-link" id="edit_ai_assistant_api_key">
    <__trans phrase="Update API Key">
  </button>
</div>
</mt:If>
<input type="hidden" id="ai_assistant_api_key" name="ai_assistant_api_key" class="form-control" disabled/>
</mtapp:setting>

<mtapp:setting
  id="ai_assistant_allow_16k"
  label="<__trans phrase="Allow to use gpt-3.5-turbo-16k">"
  hint="<__trans phrase="If checked, the number of characters in the original text of the title can be increased up to 4000 characters.">"
  show_hint="1"
>
<div class="custom-checkbox">
  <input type="checkbox" id="ai_assistant_allow_16k" name="ai_assistant_allow_16k" value="1" <mt:If name="ai_assistant_allow_16k">checked</mt:If> />
</div>
</mtapp:setting>
